.idea/*
*.pyc
*.so
*.egg*
*.z?
*.ulx
*.ni
*.iml
*.rst
**/.idea/*
**/cmake-build-debug/*
.vs/*
inform7-*
**git-glulx-ml
*.sublime-*
build/*
gen_games*/
experiments*/
frotz
!textworld/envs/frotz
gameinfo.dbg
textworld_data/
